*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Nunito', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.button{
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    border: 1px solid #dc4f72;
    border-radius: 5px;
}

.title{
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
}
.title h4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.title h3{
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.title p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    padding: 1rem 0;
}

/* HEADER */
header{
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 90px;
}
.header__content .navbar{
    padding: 0;
}
.header__content .header__logo{
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #dc4f72;
    transition: .1s;
}
.header__content .header__logo:hover{
    color: #dc4f72;
    opacity: .95;
}
.header__content .header__menu{
    display: flex;
    align-items: center;
}
#masterNavbar .nav-item{
    position: relative;
}
#masterNavbar .nav-item a::before{
    position: absolute;
    bottom: 5px;

    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #dc4f72;
    transition: .5s;
}
#masterNavbar .nav-item:hover a::before{
    width: 30%;
}

#masterNavbar .nav-item.active a{
    color: #dc4f72;
}

.header__content .header__menu .nav-item a{
    color: #333;
}
.header__content .header__menu .button{
    color: #dc4f72;
    transition: .5s;
}
.header__content .header__menu .button:hover{
    background-color: #dc4f72;
    color: white;
}
.header__content .header__menu li:last-of-type a{
    text-decoration: none;
}
.header__content .header__menu li:last-of-type{
    margin-left: 15px;
}
.header__menu span{
    color: #6d6c6c;
}
.header__content .header__menu li{
    padding: 0 7px;
}
    /* hỏi giáo viên */
.header__content .navbar-toggler i:last-of-type{
    display: none;
}
.header__content .navbar-toggler:active i:first-of-type{
    display: none;
}
.header__content .navbar-toggler:active i:last-of-type{
    display: block;
}   /* hỏi giáo viên */

    /* dropdown Pages */
.dropdown-toggle::after{
    display: none;
}


/* CAROUSEL */
.carousel{
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 5rem;
}
.carousel .row{
    align-items: center;
}
.carousel__left h3{
    font-size: 50px;
    line-height: 57.5px;
    color: #2c3038;
    font-weight: 700;
}
.carousel__left p{
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}
.carousel__left a{
    text-decoration: none;
    color: #dc4f72;
    transition: .5s;
}
.carousel__left a:hover{
    background-color: #dc4f72;
    color: white;
}
.carousel__right img{
    transform: rotate(180deg);
}

/* SERVICE */
.service{
    text-align: center;
}

.service__item{
    border-radius: 6px;
    background: #f7f9fc;
    padding: 3rem 2rem;
    border: 1px solid #f7f9fc;
    
    transition: .3s ease-in;
}
.service__item:hover{
    background-color: white;
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.service__item a{
    text-decoration: none;
}
.service__item h3{
    color: #2c3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    padding: 1rem 0;
}
.service__item p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
}

/* ABOUT */
.about{
    background-color: #f7f9fc;
}
.about__content{
    padding-top: 35px;
    padding-bottom: 25px;
}
.about .title{
    text-align: left;
}
.about .title h3{
    font-size: 35px;
    line-height: 40px;
}
.about .title p{
    padding: 25px 0;
}
.about .title .button{
    text-decoration: none;
    background-color: #dc4f72;
    color: white;
    margin-top: 15px;
    transition: .5s;
}
.about .title .button:hover{
    background-color: #d62f58;
    border-color: #cf2952;
}
.about img{
    width: 100%;
    border-radius: 5px;
}

/* NUMBER */
.number{
    background-color: #f7f9fc;
}
.number__item{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    text-align: left;
    padding: 2rem;
}
.number__item h3{
    font-size: 16px;
    line-height: 24.5px;
}
.number__item h4{
    font-size: 50px;
    line-height: 1;
    padding-top: 15px;
}
.number__item p{
    padding: 7px 0;
}




/* SOLUTION */
.solution__item{
    border: 2px solid #f9f2f2;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.solution__item:hover{
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.11);
}
.solution__item .date{
    position: absolute;
    top: 0;
    right: 0;

    font-size: 18px;
    color: #fff;
    font-weight: 700;
    background: #dc4f72;
    padding: 15px;
}
.solution__item img{
    width: 100%;
    filter: grayscale(100%);
    transition: .5s;
}
.solution__item:hover img{
    filter: none;
}
.solution__item a{
    text-decoration: none;
}
.solution__text{
    padding: 30px 20px;
}
.solution__text label{
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.solution__text .red{
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}
.solution__text .green{
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}
.solution__text .blue{
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}
.solution__text h4{
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
}
.solution__text h4 a{
    font-size: 22px;
    line-height: 27px;
    color: #2C3038;
    font-weight: 600;
    transition: .5s;
}
.solution__item:hover .solution__text h4 a{
    color: #dc4f72;
}
.solution__text p{
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.solution__button{
    color: #dc4f72;
    font-weight: 700;
}
.solution__button:hover{
    color: #dc4f72;
    font-weight: 700;
}
.solution__button span i{
    font-size: 60%;
    transition: .5s;
}
.solution__item:hover span i{
    transform: translateX(5px);
}



/* QUESTION */
.question{
    background-color: #f7f9fc;
}
.question__left img{
    width: 100%;
    border-radius: 5px;
    transition: .5s;
}
.question__left img:hover{
    transform: translateY(-10px);
}
.question__item input{
    display: none;
}
.question__item label{
    background-color: white;
    cursor: pointer;
    display: block;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 1rem;
}
.question__item label i{
    position: absolute;
    top: 25px;
    right: 22px;
    font-size: 20px;
}
.question__item label span{
    font-size: 20px;
}
.question__text{
    max-height: 1px;
    overflow: hidden;
    transition: .5s;
}
.question__item input:checked ~ .question__text{
    max-height: 300px;
    padding: 10px 0;
}



/* FEATURE */
.feature .nav-tabs{
    border-bottom: none;
}
.feature .feature__item{
    width: calc(100%/3);
    font-weight: 700;
    font-size: 22px;
    color: #4e5b61;
    text-align: center;
    margin-bottom: 0;
    border: none;
    border-bottom:  3px solid #c1c1c1;
    transition: .1s;
}
.feature .feature__item:hover{
    border-color: #c1c1c1;
}
.feature .nav-tabs .nav-link.active{
    color: #dc4f72;
    border-color: #dc4f72;
}
.feature .tab-pane h3{
    color: #2c3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.feature .tab-pane .button{
    color: #dc4f72;
    text-decoration: none;
    transition: .5s;
}
.feature .tab-pane .button:hover{
    background-color: #dc4f72;
    color: white;
}
.feature img{
    width: 100%;
    border-radius: 5px;
    transition: .5s;
}
.feature img:hover{
    transform: translateY(-10px);
}

.feature__reponsive768{
    display: none;
}
.feature__item768 span::before{
    content: "";
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #eee;
    display: block;
}

.feature__item768 input:checked  span{
    color: #d62f58;
}

.feature__item768 input{
    display: none;
}
.feature__text{
    max-height: 1px;
    overflow: hidden;
    transition: .5s;
}
.feature__item768 input:checked ~ .feature__text{
    max-height: 800px;
    padding: 25px 0;
}
.feature__text .button{
    color: #dc4f72;
    text-decoration: none;
    margin-bottom: 40px;
    transition: .5s;
}
.feature__text .button:hover{
    background-color: #dc4f72;
    color: white;
}
.feature__item768 label{
    background-color: white;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 0;
}
.feature__item768 i{
    position: absolute;
    top: 17px;
    right: 17px;
    font-size: 17px;
}
.feature__item768 h3{
    color: #2c3038;
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
}
.feature__item768 span{
    font-weight: 700;
    font-size: 20px;
    color: #4e5b61;
    margin-bottom: 0;
    border: none;
}




/* Reponsive */
@media screen and (max-width:992px){
    .header__content .navbar-toggler{
        background-color: #dc4f72;
        padding: 7px 9px;
    }
    .header__content .navbar-toggler i{
        color: white;
    }
    #masterNavbar .nav-item:hover a{
        color: #dc4f72;
    }
    #masterNavbar .nav-item:hover span{
        color: #dc4f72;
    }
    header{
        height: auto;
        padding: 10px 0;
    }
    .about__content{
        max-width: 100%;
    }
    .about__content .title{
        max-width: 100%;
    }
    .about__left{
        padding-bottom: 50px;
    }
    .about__right{
        padding-left: 15px !important;
    }

}

@media screen and (max-width:768px){
    .feature .nav-tabs{
        display: none;
    }
    .feature .tab-content{
        display: none;
    }
    .feature__reponsive768{
        display: block;
    }
}


@media screen and (max-width:576px){
    .carousel__left h3{
        font-size: 40px;
        line-height: 45px;
    }
}




